body {
  background: #0F2747;
  margin: 0;
}

.container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 500px 300px;
}

.container div {
font-size: 25px;
}

.leftnav {
  grid-column: 1;
  grid-row: 1;
  
  display:flex;
  gap:20px;
  align-items: center;
  padding-left: 100px;
  text-decoration: none;
}

.logo {
  grid-column: 2;
  grid-row: 1;

  width: 300px;
  height: 150px;
  margin-top: -5px;
  z-index: 2;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
}

.rightnav {
  grid-column: 3;
  grid-row: 1;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
  text-decoration: none;
}

.card1, .card2, .card3 {
  background-color: grey;
  border: ;
} 

a {
  text-decoration: none;
  color:white;
  padding: 8px 16px;
  border-radius: 6px;
  position: relative;
}

a:hover {
  text-decoration: underline;
}

.card1, img{
  width: 100%;
  height: auto;
}

.card2 img{
  width: 100%;
  height: auto;
}

.card3 img{
  width: 100%;
  height: auto;
}